<!--HTML file for tablemaker nodejs app, this will contain initial textboxes for entering rows and columns-->
<html>
	<head><title>Table Maker</title></head>
	<body>
		<form action="/table" method="POST">
			<p>Enter Your Table Dimensions</p>
					<p>
						Number of Rows<input type="text" name="rowcount" value=""></input>
					</p>
					<p>
						Number of Columns<input type="text" name="columncount" value=""></input>
					</p>
					<p>
						Table CSS Class<input type="text" name="tableclass" value=""></input>
					</p>
					<p>
						Cell Padding<input type="text" name="cellpadding" value="0"></input>
					</p>
			<input type="Submit" value="Make My Table" />
		</form>
	</body>
</html>